//Main-Dynamic Variables
//Change these colors or fonts according to your needs
$primaryBg : #101216;
$subBg : #292E39;
$subBgM : #2A2F3A;
$subBgST : #292e394d;
$c_white : #dfdfdf;
$c_whiteST : #ffffffb3;
$accentColor : #2196f3;
$accentColorST : #2195f369;
$l-accentColor : #43B4FF;

$dirty: #757575;
$dirty-light: #a3a3a3;


$gradientColor1 : #54dcff;
$gradientColor2 : #FF0186; //TheiF Edition
$gradientColor3 : #54dcff;
$gradientColor4 : #FF0186;
$gradientColor5 : #FFFFFF;


$purple: #987bff;
$purple-dark: #592bff;

$orange: #ff6cb8;//TheiF Edition
$orange-dark: #FF0186;//TheiF Edition

$orange2: #6797ff;
$orange2-dark: #2351b4;

$green: #8BC34A;
$green-dark: #458100;

$yellow: #FFEB3B;
$yellow-dark: #9b8b00;

//Fonts
$mainFont: steradian;
$subFont: product-sans;

//Configs
$showAds: none;
$buttomBarHeight: 25px;

//$showAds: block;
//$buttomBarHeight: 132px;