/*Main-Dynamic Variables
Change these colors or fonts according to your needs*/
:root{
    --primaryBg: #101216;
    --subBg : #292E39;
    --subBgM : #2A2F3A;
    --subBgST : #292e394d;
    --c_white : #dfdfdf;
    --c_whiteST : #ffffffb3;
    --accentColor : #2196f3;
    --accentColorST : #2195f369;
    --l-accentColor : #43B4FF;

    --dirty: #757575;
    --dirty-light: #a3a3a3;


    --gradientColor1 : #54dcff;
    --gradientColor2 : #68bbff;
    --gradientColor3 : #ffa754;
    --gradientColor4 : #ff7268;
    --gradientColor5 : #FFFFFF;


    --purple: #987bff;
    --purple-dark: #592bff;

    --orange: #FF5722;
    --orange-dark: #801e00;

    --orange2: #FF9800;
    --orange2-dark: #a16100;

    --green: #8BC34A;
    --green-dark: #458100;

    --yellow: #FFEB3B;
    --yellow-dark: #9b8b00;

/*Fonts*/
    --mainFont: steradian;
    --subFont: product-sans;

/*Configs*/
    --showAds: none;
    --buttomBarHeight: 25px;

    /*--showAds: block;
    --buttomBarHeight: 132px;*/
}
