/*Main-Dynamic Variables
Change these colors or fonts according to your needs*/
:root{
    --primaryBg: #101216;
    --subBg : #292E39;
    --subBgM : #2A2F3A;
    --subBgST : #292e394d;
    --c_white : #dfdfdf;
    --c_whiteST : #ffffffb3;
    --accentColor : #39ffd4;
    --accentColorST : #39ffd469;
    --l-accentColor : #84a1ff;

    --dirty: #757575;
    --dirty-light: #a3a3a3;


    --gradientColor1 : #ff39de;
    --gradientColor2 : #b639ff;
    --gradientColor3 : #39ffd4;
    --gradientColor4 : #84a1ff;
    --gradientColor5 : #FFFFFF;


    --purple: #987bff;
    --purple-dark: #592bff;

    --orange: #ff9ea2;
    --orange-dark: #ff3943;

    --orange2: #6797ff;
    --orange2-dark: #2351b4;

    --green: #8BC34A;
    --green-dark: #458100;

    --yellow: #FFEB3B;
    --yellow-dark: #9b8b00;

/*Fonts*/
    --mainFont: steradian;
    --subFont: product-sans;

/*Configs*/
    --showAds: none;
    --buttomBarHeight: 25px;

    /*--showAds: block;
    --buttomBarHeight: 132px;*/
}
