/*Main-Dynamic Variables
Change these colors or fonts according to your needs*/
:root {
  --primaryBg: #101216;
  --subBg: #292e39;
  --subBgM: #2a2f3a;
  --subBgST: #292e394d;
  --c_white: #dfdfdf;
  --c_whiteST: #ffffffb3;
  --accentColor: #e6799a;
  --accentColorST: #e6799a69;
  --l-accentColor: #ff88ab;

  --dirty: #757575;
  --dirty-light: #a3a3a3;

  --gradientColor1: #b24592;
  --gradientColor2: #e6799a;
  --gradientColor3: #b24592;
  --gradientColor4: #e6799a;
  --gradientColor5: #ffffff;

  --purple: #987bff;
  --purple-dark: #592bff;

  --orange: #e6799a;
  --orange-dark: #ca2053;

  --orange2: #6797ff;
  --orange2-dark: #2351b4;

  --green: #8bc34a;
  --green-dark: #458100;

  --yellow: #ffeb3b;
  --yellow-dark: #9b8b00;

  /*Fonts*/
  --mainFont: steradian;
  --subFont: cirular;

  /*Configs*/
  --showAds: none;
  --buttomBarHeight: 25px;

  /*--showAds: block;
    --buttomBarHeight: 132px;*/
}
