@import url(configs.css);
@font-face {
  font-family: product-sans;
  src: url(../css/fonts/ProductSans-Regular.ttf);
}

@font-face {
  src: url(../css/fonts/Steradian-Bold.otf);
  font-family: steradian;
  font-weight: 900;
}

@-webkit-keyframes anima {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

@keyframes anima {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

input::-webkit-input-placeholder {
  color: var(--dirty-light) !important;
  font-family: var(--mainFont);
  font-size: 20px;
}

input:-ms-input-placeholder {
  color: var(--dirty-light) !important;
  font-family: var(--mainFont);
  font-size: 20px;
}

input::-ms-input-placeholder {
  color: var(--dirty-light) !important;
  font-family: var(--mainFont);
  font-size: 20px;
}

input::placeholder {
  color: var(--dirty-light) !important;
  font-family: var(--mainFont);
  font-size: 20px;
}

input {
  color: var(--accentColor) !important;
  background: var(--subBg) !important;
}

#modPckHead {
  font-family: var(--mainFont);
}

#menuItemContainer {
  position: absolute;
  left: 0;
  top: 66px;
  bottom: 0;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: var(--primaryBg);
}

#gameNameHolder {
  top: 0;
  left: 0;
  right: 0;
  height: 66px;
  background-image: url(../img/headerBg.svg);
  background-position: center;
  border: 0;
  outline: 0;
  -webkit-transform: unset;
          transform: unset;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#mainLogo {
  margin: 0;
  padding: 0;
  height: auto;
  width: 120px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.headerBar {
  background: unset;
}

.imageButton {
  width: 70px;
  margin-left: 10px !important;
}

#menuRegionLabel {
  font-family: var(--mainFont);
  font-size: 20px;
}

#menuPingDisplay .material-icons {
  font-size: 22px;
  -webkit-transform: translateY(0.03rem) translateX(-4px);
          transform: translateY(0.03rem) translateX(-4px);
}

#menuAccountUsername {
  font-family: var(--mainFont);
  font-size: 25px;
  margin-left: 10px;
}

#menuLevelText {
  font-size: 18px;
  font-family: var(--mainFont);
}

.verticalSeparator {
  background: var(--subBg);
  width: 2px;
  height: 40px;
  margin-left: 15px;
  margin-right: 10px;
}

.headerBarLeft {
  background: unset;
}

.headerBarRight {
  background: unset;
}

.menuItem .menuItemTitle {
  display: none;
}

.menuItem {
  padding: 0;
  height: auto;
  width: 100px;
  background: var(--primaryBg);
  -webkit-transition: background 280ms;
  transition: background 280ms;
}

.menuItem .menuItemIcon {
  height: 30%;
}

.menuItem:hover {
  background: -webkit-gradient(linear, left bottom, right top, from(var(--gradientColor1)), to(var(--gradientColor2)));
  background: linear-gradient(to right top, var(--gradientColor1), var(--gradientColor2));
  -webkit-transition: background 280ms;
  transition: background 280ms;
}

.menuItem:active {
  background-image: -webkit-gradient(linear, left bottom, right top, from(var(--gradientColor1)), to(var(--gradientColor2)));
  background-image: linear-gradient(to right top, var(--gradientColor1), var(--gradientColor2));
}

.chatItem {
  font-family: var(--mainFont);
  font-size: 22px;
}

.chatItem span {
  font-family: var(--mainFont);
  font-size: 22px;
}

#chatHolder {
  position: absolute;
  z-index: 1000;
  width: 280px;
  bottom: 20px;
  left: 20px;
  background: var(--subBgST);
  padding: 12px;
  border-radius: 5px;
}

#chatInput {
  width: 260px;
  font-size: 18px;
  border-radius: 6px;
  border-radius: 5px;
  margin-left: 17px;
  font-family: var(--mainFont);
  font-size: 25px;
}

#voiceDisplay {
  opacity: .5;
  z-index: 2;
  position: absolute;
  bottom: 18px;
  left: 303px;
  z-index: 1111;
  margin-bottom: 10px;
  margin-left: 40px;
}

.chatMsg {
  color: var(--c_whiteST);
  font-family: var(--mainFont) !important;
  font-size: 20px;
}

.chatMsg span {
  font-family: var(--mainFont) !important;
  font-size: 20px;
}

#streamContainer {
  display: none;
}

.xpBar {
  background-color: var(--subBg);
}

.xpBar .xpBarB {
  border-radius: 3px;
  background-color: var(--accentColor);
}

.xpBar .xpBarV {
  font-size: 22px;
  font-family: var(--subFont);
}

#instructions {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 9;
  background-image: -webkit-gradient(linear, right top, left top, from(var(--gradientColor1)), color-stop(var(--gradientColor2)), color-stop(var(--gradientColor3)), to(var(--gradientColor4)));
  background-image: linear-gradient(to left, var(--gradientColor1), var(--gradientColor2), var(--gradientColor3), var(--gradientColor4));
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 50px;
  font-family: var(--mainFont);
  word-spacing: 1rem;
  color: transparent;
  background-size: 450%;
  -webkit-animation: anima 10s linear infinite;
          animation: anima 10s linear infinite;
}

#instructionHolder * {
  font-family: var(--mainFont) !important;
}

#instructionHolder div {
  word-spacing: unset;
}

#mapInfoHolder div div {
  display: none !important;
}

#mapInfoHolder div div:last-child {
  display: inline-block !important;
}

#menuWindow {
  border-radius: 0px;
  background-color: var(--primaryBg);
  -webkit-box-shadow: unset;
  box-shadow: unset;
}

#menuWindow a {
  font-family: var(--subFont);
  font-size: 25px;
}

#menuWindow div[style="color:rgba(0,0,0,0.3);margin-top:-5px;margin-bottom:10px"],
#menuWindow div[style="color:rgba(0,0,0,0.3);margin-bottom:10px"],
#menuWindow div[style="color:rgba(0,0,0,0.3);font-size:19px;margin-bottom:-3px"],
#menuWindow div[style="color:rgba(0,0,0,0.3);font-size:19px;margin-bottom:5px"],
#menuWindow #premTime {
  color: var(--c_white) !important;
  font-family: var(--subFont);
  font-size: 22px;
}

#menuWindow div[style="font-size:26px;margin-top:10px;font-weight:bold"],
#menuWindow div[style="font-size:26px;margin-top:20px;font-weight:bold"],
#menuWindow div[style="font-size:26px;margin-top:12px;"],
#menuWindow div[style="font-size:26px;margin-top:20px;"] {
  font-family: steradian;
  color: var(--accentColor);
  text-transform: uppercase;
}

#menuWindow div[style="color:rgba(0,0,0,0.4);margin-bottom:20px"],
#menuWindow div[style="font-size:17px;color:rgba(0,0,0,0.4);margin-top:5px"] {
  color: var(--c_white) !important;
  font-family: var(--subFont);
  font-size: 22px !important;
  margin-top: .5rem;
}

#menuWindow div[style="color:rgba(0,0,0,0.4);margin-bottom:20px"] b,
#menuWindow div[style="font-size:17px;color:rgba(0,0,0,0.4);margin-top:5px"] b {
  font-family: var(--subFont) !important;
  color: var(--accentColor) !important;
  text-shadow: unset !important;
}

#menuWindow span[style="float:right;color:rgba(0,0,0,0.4)"] {
  color: var(--dirty-light) !important;
  font-family: var(--subFont);
  font-size: 22px;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

#menuWindow #skinList div[style="margin-bottom:10px;color:rgba(0,0,0,0.5);"] {
  color: var(--c_white) !important;
  font-family: var(--subFont);
  font-size: 22px;
}

#menuWindow div[style="text-align:left;margin-top:30px"] #hostGameMsg {
  color: var(--dirty-light);
  font-family: var(--mainFont);
  font-size: 22px;
}

#menuWindow div[style="font-size:20px"] b[style="color:rgba(0,0,0,0.6)"] {
  font-family: var(--mainFont) !important;
  color: var(--accentColor) !important;
}

#menuWindow div[style="font-size:20px"] b[style="color:rgba(0,0,0,0.6)"] span {
  font-family: var(--mainFont) !important;
  color: var(--accentColor) !important;
}

#menuWindow div[style="background-color:gainsboro;border-radius: 6px;"] {
  background: transparent !important;
}

#menuWindow div[style="background-color:gainsboro;border-radius: 6px;"] div {
  font-family: var(--mainFont) !important;
  font-size: 22px !important;
  color: var(--c_white) !important;
  text-shadow: unset !important;
}

#menuWindow div[style="background-color:gainsboro;border-radius: 6px;"] div span {
  font-family: var(--mainFont) !important;
  font-size: 22px !important;
  color: var(--accentColor) !important;
  text-shadow: unset !important;
}

#menuWindow div[style="background-color:gainsboro;border-radius: 6px;"] div span a {
  font-family: var(--mainFont) !important;
  font-size: 22px !important;
  color: var(--c_white) !important;
  text-shadow: unset !important;
}

#menuWindow div[style="background-color:gainsboro;border-radius: 6px;"] div span[style="float:right"] {
  background: var(--subBg) !important;
}

#menuWindow div[style="background-color:gainsboro;border-radius: 6px;"] div .kick {
  background-color: var(--subBg);
  color: var(--orange2) !important;
}

#menuWindow div[style="background-color:gainsboro;border-radius: 6px;"] div .ban {
  background-color: var(--subBg);
  color: var(--orange) !important;
}

#menuWindow div[style="background-color:gainsboro;border-radius: 6px;"] div .vote {
  background-color: var(--subBg);
  color: var(--purple) !important;
}

#setHed_local,
#setHed_network,
#setHed_gameplay,
#setHed_controller,
#setHed_interface,
#setHed_chat,
#setHed_crosshair,
#setHed_hitmarker,
#setHed_quality,
#setHed_editing,
#setHed_viewmodel,
#setHed_mods,
#setHed_audio {
  color: var(--accentColor);
}

#setHed_local .material-icons,
#setHed_network .material-icons,
#setHed_gameplay .material-icons,
#setHed_controller .material-icons,
#setHed_interface .material-icons,
#setHed_chat .material-icons,
#setHed_crosshair .material-icons,
#setHed_hitmarker .material-icons,
#setHed_quality .material-icons,
#setHed_editing .material-icons,
#setHed_viewmodel .material-icons,
#setHed_mods .material-icons,
#setHed_audio .material-icons {
  font-family: Material Icons;
}

#setHed_local span,
#setHed_network span,
#setHed_gameplay span,
#setHed_controller span,
#setHed_interface span,
#setHed_chat span,
#setHed_crosshair span,
#setHed_hitmarker span,
#setHed_quality span,
#setHed_editing span,
#setHed_viewmodel span,
#setHed_mods span,
#setHed_audio span {
  color: var(--c_white);
}

#commMap {
  font-family: var(--mainFont) !important;
  font-size: 25px !important;
}

div > #commMap {
  float: left !important;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.mapListItem div a {
  font-size: 20px !important;
  font-family: var(--mainFont) !important;
}

.mapListItem div span {
  font-size: 13px;
  font-family: var(--mainFont) !important;
  color: var(--c_whiteST) !important;
}

.mapListItem div span a {
  font-size: 16px !important;
  color: var(--c_white) !important;
  margin-left: 7px;
}

.mapListItem div div {
  font-size: 20px !important;
  font-family: var(--mainFont);
}

.sliderVal {
  color: var(--accentColor);
  background: transparent;
  border-radius: 2px;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.sliderM {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 12px;
  background-color: var(--subBgM);
  outline: none;
  border-radius: 50px;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.sliderM::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border: 5px solid var(--accentColor);
  border-radius: 50px;
  background: var(--primaryBg);
  cursor: pointer;
}

.sliderM::-moz-range-thumb {
  width: 30px;
  height: 30px;
  clip-path: circle();
  background: linear-gradient(to right top, var(--gradientColor1), var(--gradientColor2));
  cursor: pointer;
}

.inputGrey {
  background: -webkit-gradient(linear, left bottom, right top, from(var(--gradientColor1)), to(var(--gradientColor2)));
  background: linear-gradient(to right top, var(--gradientColor1), var(--gradientColor2));
}

.inputGrey2 {
  background: var(--subBgM);
  color: var(--accentColor);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.inputGrey2 option {
  background: var(--subBgM);
  color: var(--accentColor);
}

.switch {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.slider, .slider2 {
  position: absolute;
  cursor: pointer;
  top: 35%;
  left: 0;
  right: 0;
  bottom: 35%;
  background-color: var(--subBgM);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50px;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

input:checked + .slider {
  background-color: var(--accentColor);
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px var(--accentColor);
          box-shadow: 0 0 1px var(--accentColor);
}

.slider:before, .slider2:before {
  position: absolute;
  -webkit-transform: translateY(15px) translateX(-10px);
          transform: translateY(15px) translateX(-10px);
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: var(--subBgM);
  -webkit-transition: .4s;
  transition: .4s;
  border: 5px solid var(--accentColorST);
  border-radius: 50px;
}

input:checked + .slider:before, input:checked + .slider2:before {
  -webkit-transform: translateY(15px) translateX(33px);
  transform: translateY(15px) translateX(33px);
  border: 5px solid var(--accentColor);
  background-color: var(--primaryBg);
}

.settName, .settNameSmall {
  font-family: var(--subFont);
  font-size: 23px;
  color: var(--c_white);
  margin-top: 1.5rem !important;
  margin-bottom: 1.2rem !important;
}

.settName span, .settNameSmall span {
  color: var(--accentColor) !important;
}

.settName span b, .settNameSmall span b {
  color: var(--subBgM) !important;
}

.settName span[style="float:right;margin-right:10px;color:rgba(0,0,0,0.5)"], .settNameSmall span[style="float:right;margin-right:10px;color:rgba(0,0,0,0.5)"] {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.settName span {
  font-family: var(--subFont);
  color: var(--l-accentColor) !important;
}

.b {
  font-size: 25px;
  font-family: var(--mainFont);
  font-weight: 1000;
  color: var(--l-accentColor) !important;
  text-transform: uppercase;
}

#profilePicM {
  -webkit-transform: translateY(32px);
          transform: translateY(32px);
}

.setHed {
  font-size: 25px;
  font-family: var(--mainFont);
  font-weight: 1000;
  color: var(--l-accentColor) !important;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.setHed span {
  color: var(--c_white);
}

.settingsHeader {
  background: var(--primaryBg);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.settingTab:hover {
  border-bottom: 5px solid var(--c_white);
}

.settingTab {
  cursor: pointer;
  display: inline-block;
  padding: 10px 0 6px;
  color: var(--c_white);
  font-size: 20px;
  font-family: var(--mainFont);
}

.tabANew {
  /* cursor: default; */
  border-bottom: 5px solid var(--l-accentColor);
  color: var(--l-accentColor) !important;
}

.tabANew:hover {
  border-bottom: 5px solid var(--c_white);
}

.menuTabNew {
  color: var(--c_white);
  font-family: var(--mainFont);
  font-size: 21px;
}

.menuTabNew:hover {
  border-color: var(--l-accentColor);
}

.serverHeader {
  background: var(--primaryBg);
}

.menuSelectorHeader {
  font-size: 25px;
  font-family: var(--subFont);
  color: var(--dirty-light);
}

.menuSelectorHeader span {
  font-size: 25px;
  font-family: var(--subFont);
}

.menuSelectorHeader .material-icons {
  font-size: 35px !important;
  margin-right: .1rem !important;
  font-family: 'Material Icons' !important;
}

.menuSelectorHeader * {
  color: var(--c_white);
}

.slide {
  border: 5px solid var(--subBgM);
}

.purejscarousel-btn-prev {
  border-bottom: 8px solid var(--accentColor);
  border-left: 8px solid var(--accentColor);
}

.purejscarousel-btn-prev:hover {
  border-bottom: 8px solid var(--accentColorST);
  border-left: 8px solid var(--accentColorST);
}

.purejscarousel-btn-next {
  border-bottom: 8px solid var(--accentColor);
  border-right: 8px solid var(--accentColor);
}

.purejscarousel-btn-next:hover {
  border-bottom: 8px solid var(--accentColorST);
  border-right: 8px solid var(--accentColorST);
}

.hostMapImg {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 90px;
  width: 223px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.hostMap {
  border-radius: 5px;
  border: 2px solid transparent;
}

.hostOpt {
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: transparent;
  background: transparent;
}

.optCheck {
  border-radius: 4px;
  background-color: var(--subBgM);
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
}

.optName {
  text-shadow: unset;
  color: var(--l-accentColor);
  font-family: var(--mainFont);
  font-size: 18px;
  letter-spacing: .04rem;
  text-align: center;
}

input:checked + .optCheck {
  background-color: var(--accentColorST);
}

input:checked + .optName {
  color: var(--primaryBg);
}

input:hover + .optCheck {
  background-color: var(--accentColorST);
}

input:hover + .optName:hover {
  color: var(--primaryBg);
}

input[type=color] {
  border: unset;
}

#settSearch, #serverSearch, .formInput, #passCode, #customSnameTeam1, #customSnameTeam2 {
  font-family: var(--mainFont);
  background-color: transparent;
  background: var(--subBgM) !important;
  color: var(--accentColor);
  font-size: 18px;
}

#passCode {
  -webkit-transform: translateY(-9px);
          transform: translateY(-9px);
}

#rawMapData {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  height: 34px;
}

#settSearch, #serverSearch {
  font-size: 22px;
  width: 230px;
  -webkit-transform: translateY(-0.34rem);
          transform: translateY(-0.34rem);
}

#serverSearch {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  height: 34px;
}

.sideTabs {
  width: 35%;
}

#hideFull span {
  font-size: 25px;
  font-family: var(--mainFont);
  color: var(--accentColor);
}

#hideFull .switch2 {
  -webkit-transform: translateY(5px) translateX(10px);
          transform: translateY(5px) translateX(10px);
}

.menuSelector {
  font-size: 20px;
  font-family: var(--mainFont);
  color: var(--c_white);
}

.menuSelector * {
  font-size: 20px;
  font-family: var(--mainFont);
  color: var(--dirty-light);
}

.menuSelector:hover {
  background: var(--subBgM);
}

.quickJoin {
  color: var(--accentColor) !important;
  background-color: var(--subBgM);
  padding-right: 4px;
  padding-left: 4px;
  text-shadow: unset !important;
  -webkit-transform: translateY(3px) !important;
          transform: translateY(3px) !important;
  -webkit-transition: color 280ms, background-color 280ms;
  transition: color 280ms, background-color 280ms;
}

.quickJoin:hover {
  color: var(--subBgM) !important;
  background-color: var(--accentColor);
  text-shadow: unset !important;
}

#modDropper {
  border: 4px solid var(--dirty-light);
}

#modLInfo {
  color: var(--accentColor) !important;
  font-family: var(--subFont);
  font-size: 25px;
}

.button.lgn {
  font-size: 18px;
  font-family: var(--subFont);
  text-shadow: none;
  color: var(--l-accentColor);
  font-size: 23px;
  border-radius: 0px;
  border: 2px solid transparent;
  background-color: var(--subBgM) !important;
  background: var(--subBgM) !important;
  -webkit-box-shadow: inset 0 -7px 0 0 var(--l-accentColor) !important;
          box-shadow: inset 0 -7px 0 0 var(--l-accentColor) !important;
}

.button.lgn span {
  color: var(--l-accentColor) !important;
}

.premiumSkinCol {
  color: var(--l-accentColor) !important;
}

.skinColorItem {
  border: 3px solid var(--subBgM);
}

#customSnameTeam1, #customSnameTeam2 {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#presetSelect,
.hostPresetBtn,
.hostToggle,
.settingsBtn,
.searchBtn,
.subPassChg,
#loadoutSelect,
.loadoutBtn {
  background: var(--subBgM) !important;
  color: var(--accentColor) !important;
  -webkit-transition: background 200ms, color 280ms;
  transition: background 200ms, color 280ms;
}

#presetSelect:hover,
.hostPresetBtn:hover,
.hostToggle:hover,
.settingsBtn:hover,
.searchBtn:hover,
.subPassChg:hover,
#loadoutSelect:hover,
.loadoutBtn:hover {
  background: var(--accentColor) !important;
  color: var(--subBgM) !important;
}

.settingsBtn {
  -webkit-transform: translateY(-0.19rem);
          transform: translateY(-0.19rem);
}

#requiresRestart {
  color: var(--accentColor);
  font-family: var(--mainFont);
}

#requiresRestart span {
  font-family: var(--mainFont);
}

#menuBtnHost, #menuBtnBrowser, #menuBtnRanked, #inviteButton, #menuBtnJoin {
  padding-top: 5px !important;
  padding-bottom: 13px !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
  font-size: 25px !important;
  font-family: var(--mainFont);
  margin-left: 10px;
  margin-right: 10px;
  text-shadow: none !important;
  text-shadow: none !important;
  position: relative;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 18px;
  padding-top: 14px;
  margin-bottom: 6px;
  background-color: var(--primaryBg) !important;
  -webkit-box-shadow: inset 0 -7px 0 0 var(--subBgM) !important;
          box-shadow: inset 0 -7px 0 0 var(--subBgM) !important;
  text-align: center;
}

#menuBtnHost {
  color: var(--purple);
}

#menuBtnHost:hover {
  color: var(--purple-dark);
  background-color: var(--purple) !important;
  -webkit-box-shadow: inset 0 -7px 0 0 var(--purple-dark) !important;
          box-shadow: inset 0 -7px 0 0 var(--purple-dark) !important;
}

#menuBtnBrowser {
  color: var(--orange);
}

#menuBtnBrowser:hover {
  color: var(--orange-dark);
  background-color: var(--orange) !important;
  -webkit-box-shadow: inset 0 -7px 0 0 var(--orange-dark) !important;
          box-shadow: inset 0 -7px 0 0 var(--orange-dark) !important;
}

#menuBtnRanked {
  color: var(--green);
}

#menuBtnRanked:hover {
  color: var(--green-dark);
  background-color: var(--green) !important;
  -webkit-box-shadow: inset 0 -7px 0 0 var(--green-dark) !important;
          box-shadow: inset 0 -7px 0 0 var(--green-dark) !important;
}

#inviteButton {
  color: var(--yellow);
}

#inviteButton:hover {
  color: var(--yellow-dark);
  background-color: var(--yellow) !important;
  -webkit-box-shadow: inset 0 -7px 0 0 var(--yellow-dark) !important;
          box-shadow: inset 0 -7px 0 0 var(--yellow-dark) !important;
}

#menuBtnJoin {
  color: var(--orange2);
}

#menuBtnJoin:hover {
  color: var(--orange2-dark);
  background-color: var(--orange2) !important;
  -webkit-box-shadow: inset 0 -7px 0 0 var(--orange2-dark) !important;
          box-shadow: inset 0 -7px 0 0 var(--orange2-dark) !important;
}

#customizeButton {
  font-family: var(--mainFont);
  text-shadow: none !important;
  font-size: 30px;
  color: var(--yellow) !important;
  background: var(--primaryBg) !important;
  -webkit-box-shadow: inset 0 -7px 0 0 var(--subBgM) !important;
          box-shadow: inset 0 -7px 0 0 var(--subBgM) !important;
}

#customizeButton span {
  color: var(--yellow) !important;
}

#customizeButton:hover {
  color: var(--yellow-dark) !important;
  background: var(--yellow) !important;
  -webkit-box-shadow: inset 0 -7px 0 0 var(--yellow-dark) !important;
          box-shadow: inset 0 -7px 0 0 var(--yellow-dark) !important;
}

#customizeButton:hover span {
  color: var(--yellow-dark) !important;
}

#spectButton span {
  font-family: var(--mainFont);
  font-size: 25px !important;
}

.switchsml {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

#claimImg {
  margin-top: 10px;
  height: 95px;
  animation: scaleBob 2s ease-in-out infinite alternate;
  -webkit-animation: scaleBob 2s ease-in-out infinite alternate;
}

#merchImg {
  display: none;
}

#claimTimer {
  font-size: 20px !important;
  margin-top: 10px;
  font-family: var(--mainFont);
}

#aHolder {
  display: var(--showAds) !important;
}

#subLogoButtons {
  bottom: var(--buttomBarHeight) !important;
}

#subLogoButtons .button {
  z-index: 1001;
}

.accountInput {
  font-size: 28px;
  color: var(--accentColor);
  font-family: var(--mainFont);
  background: var(--subBgM);
}

#accResp {
  color: var(--dirty) !important;
  font-family: var(--mainFont);
}

#accResp span {
  color: var(--dirty-light) !important;
  font-family: var(--mainFont);
}

.accountButton {
  font-size: 28px;
  color: var(--accentColor) !important;
  font-family: var(--mainFont);
  background: var(--subBgM) !important;
  -webkit-transition: color 280ms, background 280ms;
  transition: color 280ms, background 280ms;
}

.accountButton:hover {
  color: var(--subBgM) !important;
  background: var(--accentColor) !important;
}

.healthBarSeg {
  width: 50px;
  display: inline-block;
  border-radius: unset;
  margin-right: 0;
  height: 100%;
  background-color: none;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

#healthBar {
  -webkit-transform: translateX(-4px);
          transform: translateX(-4px);
}

.hpBSeg {
  height: 100%;
  border-radius: unset;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  -webkit-transform: scaleX(1.05);
          transform: scaleX(1.05);
}

.healthBarSeg:first-child .hpBSeg {
  border-radius: unset;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.healthBarSeg:last-child .hpBSeg {
  border-radius: unset;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

#endAHolder {
  display: none;
}

.reqWIcon {
  color: var(--subBg) !important;
}

.reqWLvl {
  color: var(--accentColor) !important;
  font-family: var(--mainFont);
  font-size: 25px;
}

.reqWTxt {
  color: var(--c_white);
  font-family: var(--subFont);
  font-size: 19px;
}

.partyUsername span {
  font-family: var(--mainFont);
  font-size: 20px;
  color: var(--c_white);
}

.rankedWarning {
  font-family: var(--mainFont);
  font-size: 25px;
  color: var(--dirty-light);
}

.joinQueue {
  font-family: var(--mainFont);
  font-size: 30px;
  color: var(--accentColor);
  background: var(--subBg);
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
  text-shadow: unset !important;
  border-radius: 10px;
  -webkit-transition: color 280ms, background 280ms;
  transition: color 280ms, background 280ms;
}

.joinQueue:hover {
  color: var(--subBg);
  background: var(--accentColor);
}

.mailObj {
  background: var(--subBg) !important;
  color: var(--c_white) !important;
  font-family: var(--subFont);
  font-size: 20px;
}

.mailFrom, .mailDate {
  font-family: var(--mainFont);
  font-size: 25px;
  color: var(--accentColor) !important;
}

.mailText {
  font-family: var(--subFont);
  font-size: 18px;
  color: var(--c_white) !important;
}

.iconProfile {
  background-image: url(../img/menu-icons/profile.png);
}

.menuItem:hover .iconProfile {
  background-image: url(../img/menu-icons/profile-white.png);
}

.iconRanked {
  background-image: url(../img/menu-icons/ranked.png);
}

.menuItem:hover .iconRanked {
  background-image: url(../img/menu-icons/ranked-white.png);
}

.iconShop {
  background-image: url(../img/menu-icons/shop.png);
}

.menuItem:hover .iconShop {
  background-image: url(../img/menu-icons/shop-white.png);
}

.iconSocial {
  background-image: url(../img/menu-icons/social.png);
}

.menuItem:hover .iconSocial {
  background-image: url(../img/menu-icons/social-white.png);
}

.iconMaps {
  background-image: url(../img/menu-icons/maps.png);
}

.menuItem:hover .iconMaps {
  background-image: url(../img/menu-icons/maps-white.png);
}

.iconGames {
  background-image: url(../img/menu-icons/games.png);
}

.menuItem:hover .iconGames {
  background-image: url(../img/menu-icons/games-white.png);
}

.iconMods {
  background-image: url(../img/menu-icons/mods.png);
}

.menuItem:hover .iconMods {
  background-image: url(../img/menu-icons/mods-white.png);
}

.iconSettings {
  background-image: url(../img/menu-icons/settings.png);
}

.menuItem:hover .iconSettings {
  background-image: url(../img/menu-icons/settings-white.png);
}

.iconChall {
  background-image: url(../img/menu-icons/chall.png);
}

.menuItem:hover .iconChall {
  background-image: url(../img/menu-icons/chall-white.png);
}

.discordSocial {
  background-image: url(../img/social-buttons/discord-normal.png);
}

.discordSocial:hover {
  background-image: url(../img/social-buttons/discord-hover.png);
}

.discordSocial:active {
  background-image: url(../img/social-buttons/discord-pressed.png);
}

.downloadClient {
  background-image: url(../img/social-buttons/down_normal.png);
}

.downloadClient:hover {
  background-image: url(../img/social-buttons/down_hover.png);
}

.downloadClient:active {
  background-image: url(../img/social-buttons/down_pressed.png);
}

.redditSocial {
  background-image: url(../img/social-buttons/reddit-normal.png);
}

.redditSocial:hover {
  background-image: url(../img/social-buttons/reddit-hover.png);
}

.redditSocial:active {
  background-image: url(../img/social-buttons/reddit-pressed.png);
}

.twitterSocial {
  background-image: url(../img/social-buttons/twitter-normal.png);
}

.twitterSocial:hover {
  background-image: url(../img/social-buttons/twitter-hover.png);
}

.twitterSocial:active {
  background-image: url(../img/social-buttons/twitter-pressed.png);
}

.spinVal span, .shopCard span {
  font-family: var(--mainFont);
  font-size: 20px;
}

.chalCard {
  text-shadow: unset;
}

.chalRight {
  font-family: var(--mainFont);
  font-size: 35px;
  color: var(--accentColor);
  text-shadow: unset;
}

.chalRight div {
  font-family: var(--subFont);
  font-size: 22px;
  color: var(--c_white);
  text-shadow: unset;
}

.chalXPBar {
  background: var(--subBg);
}

.chalXPBarC {
  border-radius: 3px;
  background-color: var(--accentColor);
}

#mLevelCont {
  position: unset;
  font-size: 20px;
  font-family: var(--mainFont);
  line-height: unset;
  color: var(--accentColor);
  text-align: left;
  background-color: var(--subBg);
  border-bottom-right-radius: unset;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding-left: 15px;
  padding-right: 15px;
  height: 27px;
  top: 14px;
  margin-left: 10px;
  text-shadow: unset;
}

.progressBar {
  margin-top: -9px;
  height: 5px;
  padding: unset;
  background: var(--subBg);
  border-radius: 10px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.progressBarInner {
  background: var(--accentColor);
}
/*# sourceMappingURL=main_custom.css.map */